* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

/* UTILITY */
body {
    background-color: #000;
    font-size: 14px;
    color: #fff;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: auto;
}

.button {
    background-color: rgba(255, 255, 255, .3);
    border: none;
    padding: 10px 10px;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
}

.p-10 {
    padding: 10px;
}

.mg-r {
    margin-right: 5px;
}

/* header */
header{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

/* main */
main {
    background-color: aqua;
    height: 100%;
}

/* footer */
footer {
    background: orange;
    height: 80px;
}